@media screen
{
	body 
	{
		min-width:               100%;
		min-height:              100%;
		background-color:        brown;
		background:              url("../img/background.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size:    cover;
		-o-background-size:      cover;
		background-size:         cover;
	}
}

@media screen
{
	main
	{
		width:       100%;
		height:      100%;
		max-width:   8.27in;
		max-height:  11.69in;
		margin:      0 auto;
		padding-top: 3em;
	}
}

main > article
{
	position:         relative;
	background-color: white;
	z-index:          1;
}

main > article *
{
	margin-left: 1%;
}

@media screen 
{
	main > article
	{
		box-shadow: 6px 6px 6px black;
	}
}

nav
{
	list-style:     none;
	margin-bottom:  0px;
	padding-bottom: 0px;
}

@media print
{
	nav *
	{
		display: none;
	}
}

nav a, nav a:link, nav a:active, nav a:hover
{
	z-index:          0;
    position:         relative;
	text-decoration:  none;
	background-color: white;
	color:            black;
}

@media screen 
{
	nav a
	{
		box-shadow: 6px 6px 6px black;
	}
}

a.selected
{
	background-color: white;
}

a.unselected
{
	background-color: grey;
}

ul 
{
	padding-left: 16px;
}

h1
{
	text-align: center;
}

section p
{
	padding: 1%;
}

*
{
	padding-top:    0px;
	padding-bottom: 0.1em;
	margin-top:     0px;
	margin-bottom:  0px;
}

section
{
	border-left:       1px solid black;
	overflow:          hidden;
	page-break-inside: avoid;
	margin-bottom:     0.3em;
}

section section
{
	border-color: grey;
}

@media all and (min-width: 7in) and (min-device-width: 7in)
{
	section section
	{	
		float:     left;
		min-width: 3.5in;
		height:    1.22in;
	}
}

a
{
	word-break: break-all;
}

@media print
{
	section section
	{
		float:     left;
		min-width: 3.3in;
		height:    1.1in;
	}
}

section section section
{
	border-color: darkgrey;
	clear:        both;
}

section section section section
{
	border-color: lightgrey;
}

main > article > footer
{
	border-top: 1px solid grey;
	text-align: left;
}
