@media screen
{
	body
	{
		background-color: black;	
		background-image: url(../img/background.png);
	}

	header, section, footer
	{
		background-color: white;
	}

	aside, .share, .share *
	{
		background-color: black;	
		color: white;
	}
}

.share h2
{
	font-size: 100%;
}

aside 
{
	text-align: center;
	width: 100%;
}

aside * 
{
	opacity: 1;
}

@media print
{
	aside
	{
		display: none;
		opacity: 0.0;
		z-index: -1;
	}

}

.technologies, .education, .projects, footer, header
{
	page-break-inside: avoid;
}

nav a, nav a:hover, nav a:active, nav a:visited 
{
	color: grey;
	white-space: nowrap;
}

.share a, .share a:hover, .share a:active, .share a:visited 
{
	color: white;
	white-space: nowrap;
}

nav a.selected
{
	color: white;
	font-weight: bold;
}

main
{
	width: 100%;
	margin: 0 auto;
}

.resume
{
	max-width: 16in;
	margin: 0 auto;
}

.resume header h1, header h2
{
	text-align: center;
}

.resume section
{
	margin-bottom: 1em;
}

.resume section > section
{
	margin-left: 1%;
}

.resume section
{
	overflow: hidden;
}

.resume section section
{
	float: left;
}

.resume .technologies section
{
	min-height: 10em;
}

.education
{
	margin: 0 auto;
}

.column-header
{
	font-weight: bold;
	text-align: center;
}

.resume section section.project
{
	height: auto;
}

*
{
	font-size: 26px;
}